spring:
  profiles:
    active: dev

  datasource:
    url: jdbc:h2:file:./heroku-java-buildpack-example;AUTO_SERVER=TRUE;MULTI_THREADED=TRUE;MODE=PostgreSQL;DB_CLOSE_ON_EXIT=FALSE;AUTO_RECONNECT=TRUE
